#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#body{
    background-color:rgb(47, 47, 47);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.map-container {
  height: 80vh;
  width: 100%;
  margin-top: 1rem;
  border: 2px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  opacity: 70%;
}

.list-group-container {
  height: 80vh;
  width: 25%;
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid #eee;
  border-radius: 8px;
  background-color: white;
  opacity: 70%;
}

.app-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.list-group2 {
  padding: 1rem;
}

.leaflet-container {
width: 100%;
height: 60vh;
}